version: "3.9"
services:
  app:
    build: .
    container_name: faq_api
    env_file: .env
    depends_on:
      - postgres
      - qdrant
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - ./ingest:/ingest
    working_dir: /app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  postgres:
    image: postgres:15
    container_name: faq_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:latest

    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://qdrant:6333/collections"]
      interval: 5s
      retries: 5
volumes:
  pgdata:
  qdrant_storage:
